* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: clamp(0.5em, 2.5%, 1.5em) clamp(1em, 5%, 3em);
  overflow-y: auto;
}

h1,
p,
table {
  margin-top: 1.6rem;
}

h1,
p {
  margin-bottom: 0;
}

section {
  margin-top: 4.096rem;
}

h1:first-child,
p:first-child,
table:first-child {
  margin-top: 0;
}
